git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/oliver-ni/discord-ext-menus-views
selenium
mystbin.py
thefuzz[speedup]
openai
wand
boto3